{% extends '::base.html.twig' %}

{% block title %}ReleaseHub: Approve {{ release }} {{stage}} stage{% endblock %}

{% block body %}
<h1>Approve {{ release }} {{stage}} stage</h1>

{{ form_start(form) }}

<ul>
  {% for action in actions %}
    <li>{{action}}
  <input type="hidden" name="action[]" value="{{action}}"/>
</li>
  {% endfor %}
</ul>
{{ form(form) }}

{{ form_end(form) }}

{% endblock %}
